<!DOCTYPE html>
<html lang="en">
<head>
<!-- 
	비밀번호 찾기
	id , name 이름 일치
	form :  findPassword_insert
		div
			아이디 : findPassword_id
			이메일 : findPassword_email
			
	Button subit으로되어있습니다.
 -->
		<meta charset="utf-8">
	<title>Wokiee - Responsive HTML5 Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Wokiee - Responsive HTML5 Template">
	<meta name="author" content="wokiee">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="loader-wrapper">
	<div id="loader">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
</div>
<div id="header" th:insert="header-top"></div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<h1 class="tt-title-subpages noborder">비밀번호 찾기</h1>
			<div class="tt-login-form">
				<div class="row">
				<div class="col-md-3"></div>
					<div class="col-xs-12 col-md-6">
						<div class="tt-item">
							<div class="form-default form-top">
								<form id="findPassword_insert" name = "findPassword_insert" method="post" novalidate="novalidate" >
									<div class="form-group">
										<label for="loginInputName">아이디</label>
										<input type="text" id="user_id" name="user_id" class="form-control"  placeholder="아이디를 입력해주세요."><span id="idSpan"></span>
									</div>
									<div class="form-group">
										<label for="loginInputName">이메일</label>
										<input type="text" id="user_email" name="user_email" class="form-control"  placeholder="이메일을 입력해주세요."><span id="emailSpan"></span>
									</div>
									<div class="row">
										<div class="col-auto mr-auto">
											<div class="form-group">
												<button class="btn btn-border" type="submit">비밀번호 찾기</button>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				<div class="col-md-3"></div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer -->
<div id="header" th:insert="page_footer"></div>
<div class="tt-promo-fixed" id="js-tt-promo-fixed">
	<button class="tt-btn-close"></button>
	<div class="tt-img">
		<a href="product.html"><img src="images/loader.svg" data-src="images/product/product-14.jpg" alt=""></a>
	</div>
	<div class="tt-description">
		<div class="tt-box-top">
			<p>
				Someone purchsed a
			</p>
			<p>
				<a href="#">
					Lorem ipsum dolor sit amet conse ctetur adipisicing elit...
				</a>
			</p>
		</div>
		<div class="tt-info">
			14 Minutes ago from  New York, USA
		</div>
	</div>
</div>
<div id="tt-boxedbutton">
	<a href="https://www.youtube.com/playlist?list=PLjvK4DAxOmmVqXYUbOFUTqdl0b7pg7gN1" target="_blank" class="rtlbutton external-link">
		<div class="box-btn">
			<i class="icon-g-54"></i>
		</div>
		<div class="box-description">
			Presentation&nbsp;<strong>VIDEO</strong>
		</div>
		<div class="box-disable">
			Disable
		</div>
	</a>
	<div class="rtlbutton boxbutton-js">
		<div class="box-btn">
			BOX
		</div>
		<div class="box-description">
			Use demo with&nbsp;<strong>BOX</strong>
		</div>
		<div class="box-disable">
			Disable
		</div>
	</div>
	<div class="rtlbutton rtlbutton-js">
		<div class="box-btn">
			RTL
		</div>
		<div class="box-description">
			Use demo with&nbsp;<strong>RTL</strong>
		</div>
		<div class="box-disable">
			Disable
		</div>
	</div>
	<div class="rtlbutton-color">
		<div class="box-btn"><img src="images/custom/rtlbutton-color.png" alt=""></div>
		<div class="box-description">
			<span class="box-title">COLOR SCHEME</span>
			<ul>
				<li class="active"><a href="#" class="colorswatch1"></a></li>
				<li data-color="02"><a href="#" class="colorswatch2"></a></li>
				<li data-color="03"><a href="#" class="colorswatch3"></a></li>
				<li data-color="04"><a href="#" class="colorswatch4"></a></li>
				<li data-color="05"><a href="#" class="colorswatch5"></a></li>
				<li data-color="06"><a href="#" class="colorswatch6"></a></li>
				<li data-color="07"><a href="#" class="colorswatch7"></a></li>
				<li data-color="08"><a href="#" class="colorswatch8"></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- modal (AddToCartProduct) -->
<div class="modal  fade"  id="modalAddToCartProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<div class="modal-body">
				<div class="tt-modal-addtocart mobile">
					<div class="tt-modal-messages">
						<i class="icon-f-68"></i> Added to cart successfully!
					</div>
					<a href="#" class="btn-link btn-close-popup">CONTINUE SHOPPING</a>
			        <a href="shopping_cart_02.html" class="btn-link">VIEW CART</a>
			        <a href="page404.html" class="btn-link">PROCEED TO CHECKOUT</a>
				</div>
				<div class="tt-modal-addtocart desctope">
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="tt-modal-messages">
								<i class="icon-f-68"></i> Added to cart successfully!
							</div>
							<div class="tt-modal-product">
								<div class="tt-img">
									<img src="images/loader.svg" data-src="images/product/product-01.jpg" alt="">
								</div>
								<h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
								<div class="tt-qty">
									QTY: <span>1</span>
								</div>
							</div>
							<div class="tt-product-total">
								<div class="tt-total">
									TOTAL: <span class="tt-price">$324</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<a href="#" class="tt-cart-total">
								There are 1 items in your cart
								<div class="tt-total">
									TOTAL: <span class="tt-price">$324</span>
								</div>
							</a>
							<a href="#" class="btn btn-border btn-close-popup">CONTINUE SHOPPING</a>
							<a href="shopping_cart_02.html" class="btn btn-border">VIEW CART</a>
							<a href="#" class="btn">PROCEED TO CHECKOUT</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- modal (quickViewModal) -->
<div class="modal  fade"  id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<div class="modal-body">
				<div class="tt-modal-quickview desctope">
					<div class="row">
						<div class="col-12 col-md-5 col-lg-6">
							<div class="tt-mobile-product-slider arrow-location-center">
								<div><img src="#" data-lazy="images/product/product-01.jpg" alt=""></div>
								<div><img src="#" data-lazy="images/product/product-01-02.jpg" alt=""></div>
								<div><img src="#" data-lazy="images/product/product-01-03.jpg" alt=""></div>
								<div><img src="#" data-lazy="images/product/product-01-04.jpg" alt=""></div>
								<!--
								//video insertion template
								<div>
									<div class="tt-video-block">
										<a href="#" class="link-video"></a>
										<video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
									</div>
								</div> -->
							</div>
						</div>
						<div class="col-12 col-md-7 col-lg-6">
							<div class="tt-product-single-info">
								<div class="tt-add-info">
									<ul>
										<li><span>SKU:</span> 001</li>
										<li><span>Availability:</span> 40 in Stock</li>
									</ul>
								</div>
								<h2 class="tt-title">Cotton Blend Fleece Hoodie</h2>
								<div class="tt-price">
									<span class="new-price">$29</span>
									<span class="old-price"></span>
								</div>
								<div class="tt-review">
									<div class="tt-rating">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
										<i class="icon-star-empty"></i>
									</div>
									<a href="#">(1 Customer Review)</a>
								</div>
								<div class="tt-wrapper">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</div>
								<div class="tt-swatches-container">
									<div class="tt-wrapper">
										<div class="tt-title-options">SIZE</div>
										<form class="form-default">
											<div class="form-group">
												<select class="form-control">
													<option>21</option>
													<option>25</option>
													<option>36</option>
												</select>
											</div>
										</form>
									</div>
									<div class="tt-wrapper">
										<div class="tt-title-options">COLOR</div>
										<form class="form-default">
											<div class="form-group">
												<select class="form-control">
													<option>Red</option>
													<option>Green</option>
													<option>Brown</option>
												</select>
											</div>
										</form>
									</div>
									<div class="tt-wrapper">
										<div class="tt-title-options">TEXTURE:</div>
										<ul class="tt-options-swatch options-large">
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="images/loader.svg" data-src="images/custom/texture-img-01.jpg" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li class="active"><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="images/loader.svg" data-src="images/custom/texture-img-02.jpg" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="images/loader.svg" data-src="images/custom/texture-img-03.jpg" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="images/loader.svg" data-src="images/custom/texture-img-04.jpg" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="images/loader.svg" data-src="images/custom/texture-img-05.jpg" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="tt-wrapper">
									<div class="tt-row-custom-01">
										<div class="col-item">
											<div class="tt-input-counter style-01">
												<span class="minus-btn"></span>
												<input type="text" value="1" size="5">
												<span class="plus-btn"></span>
											</div>
										</div>
										<div class="col-item">
											<a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD TO CART</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- modalVideoProduct -->
<div class="modal fade"  id="modalVideoProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-video">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<div class="modal-body">
				<div class="modal-video-content">

				</div>
			</div>
		</div>
	</div>
</div>
<!-- modal (ModalSubsribeGood) -->
<div class="modal  fade"  id="ModalSubsribeGood" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xs">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<div class="modal-body">
				<div class="tt-modal-subsribe-good">
					<i class="icon-f-68"></i> You have successfully signed!
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal (newsletter) -->
<!-- <div class="modal  fade"  id="Modalnewsletter" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true"  data-pause=2000>
	<div class="modal-dialog modal-sm">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<form>
				<div class="modal-body no-background">
					<div class="tt-modal-newsletter">
						<div class="tt-modal-newsletter-promo">
							<div class="tt-title-small">BE THE FIRST<br> TO KNOW ABOUT</div>
							<div class="tt-title-large">WOKIEE</div>
							<p>
								HTML FASHION DROPSHIPPING THEME
							</p>
						</div>
						<p>
							By subscribe, you accept the terms &amp; privacy policy<br>
						</p>
						<div class="subscribe-form form-default">
							<div class="row-subscibe">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter your e-mail">
									<button type="submit" class="btn">JOIN US</button>
								</div>
							</div>
							<div class="checkbox-group">
								<input type="checkbox" id="checkBox1">
								<label for="checkBox1">
									<span class="check"></span>
									<span class="box"></span>
									Don’t Show This Popup Again
								</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="external/jquery/jquery.min.js"><\/script>')</script>

<script defer src="js/bundle.js"></script>
<script type="text/javascript">
	//@정은 비밀번호 찾기 event
	$(function() {
		$('#findPassword_insert').submit(function(e) {
			var user_id = $('#user_id').val();
			var user_email = $('#user_email').val();
			find_password_action(user_id, user_email);
			
		});
	})
	//@정은 아이디와 이메일로 비밀번호찾기 action
	function find_password_action(user_id,user_email) {
		$.ajax({
			url:"account_findPassword_action",
			method: "POST",
			async: false,
			data: {
				user_id : user_id,
			},
			dataType: "json",
			success: function(userInfo){
				
				if (user_id==userInfo.user_id) {//아이디가존재
					if (user_email==userInfo.user_email) {//이메일 맞음
						alert("회원님의 비밀번호는"+userInfo.user_password+"입니다.");
						
					}else if(user_email!=userInfo.user_email){//이메일이 틀렸음
						alert("이메일을 다시 입력해주세요.");
					}
				}else if(user_id!=userInfo.user_id) {//아이디가 존재안함
					alert("아이디를 다시 입력해주세요.");
				}
				
			}
			
		});
	}
	
	//@정은 이메일형식 유효성체크
	$('#user_email').keyup(function() {
		var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/); //email 형식 정규식표현
		var email = $('#user_email').val();
		
		if (!getMail.test(email)) {
			$('#emailSpan').empty();
			$('#emailSpan').append('올바른 이메일 형식이 아닙니다.').css('color','red');
		}else{
			$('#emailSpan').empty();
		}
	});
	
	
	
</script>


<a href="#" class="tt-back-to-top" id="js-back-to-top">BACK TO TOP</a>
</body>
</html> 