<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Wokiee - Responsive HTML5 Template</title>

<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
	</div>
	<div id="header" th:insert="header-top"></div>
	<form name="user_info_form" th:if="${session.user != null}">
		<input type="hidden" id="jumun_user_email" th:value="${session.user.user_email}">
		<input type="hidden" id="jumun_user_name" th:value="${session.user.user_name}">
		<input type="hidden" id="jumun_state" value="0">
	</form>
	<div id="tt-pageContent">
		<div class="container-indent">
			<div class="container container-fluid-custom-mobile-padding">
				<h1 class="tt-title-subpages">주문</h1>
				<div class="demo-typography">
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<table class="tt-table-01">
								<thead>
									<tr>
										<th>상품</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="productList:${productList}">
										<td th:text="${productList.product_name}">Cart_Product_name</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- desc-연습
						<div class="col-md-6 col-xs-12">
							<table class="tt-table-01">
								<thead>
									<tr>
										<th>CONTENTS</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="productList:${productList}">
										<td th:text="${productList.product_desc}">Cart_Product_desc</td>
									</tr>
								</tbody>
							</table>
						</div>
						-->
						<div class="col-md-1 col-xs-12">
							<table class="tt-table-01">
								<thead>
									<tr>
										<th>수량</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cartList:${cartList}">
										<td th:text="${cartList.cart_quantity}">Cart_quantity</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="divider visible-xs visible-sm"></div>
						<div class="col-md-1 col-xs-12">
							<table class="tt-table-01">
								<thead>
									<tr>
										<th>소계</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="productList:${productList}">
										<td th:text="${productList.product_price}">소계</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="divider visible-xs visible-sm"></div>
						<div class="col-md-1 col-xs-12">
							<table class="tt-table-01">
								<thead>
									<tr>
										<th>합계</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="total_price" th:text="${tot}" th:value="${tot}"></td>
									</tr>
								</tbody>
							</table>
							<!-- 연습 
							<div class="container">
								<section class="common-list">
									<div class="page-header clearfix">
										<span class="title-26 mr20">이지채널 </span> <span
											class="grey-title-18">이해쏙쏙! 쉽고 간단한 개발지식</span>
										<div class="pull-right mt10">
											<a href="https://www.easyupclass.com/main/techBlog"
												class="grey-title-18">전체보기 &gt;</a>
										</div>
									</div>

									<div class="grid-courses grid-space12 clearfix">
										<div class="carousel slide easychannel_slide">
											<div class="carousel-inner " role="listbox">
												<div class="item">
													<div class="carousel-content">
														<div class="row clearfix">

															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=55">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="운영체제와 프로그래밍 언어"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumbc3ff3da2fe53a985d7f7c7d65e0d8841.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">운영체제와 프로그래밍 언어</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.05.06 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=54">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="OCP 자격증 취득을 위한 로드맵!"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumbc10ba994f06f7234e1c5d5a8acedfa25.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">OCP 자격증 취득을 위한 로드맵!</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.05.03 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=53">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="취향저격하는 알고리즘의 원리!"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumbc3abb1b2507ecb2e00b5070943589aaf.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">취향저격하는 알고리즘의 원리!</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.04.19 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=52">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="삼성전자 시뮬레이션팀 연구원 이야기"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb1278c0528fb912693e52b866f305ce66.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">삼성전자 시뮬레이션팀 연구원 이야기</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.04.07 이지업</div>
																		</div>
																	</div>

																</div>
															</div>

														</div>
													</div>
												</div>
												<div class="item active">
													<div class="carousel-content">
														<div class="row clearfix">

															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=47">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="구글 데이터 분석가 이야기"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb57094968467eec1bec9ebe46051be90d.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">구글 데이터 분석가 이야기</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.03.30 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=46">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive"
																			alt="파이썬 URL 단축 패키지, PyShorteners"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumba32f9c4c55bcb204fdb5edd79e551e82.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">파이썬 URL 단축 패키지, PyShorteners</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.03.26 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=45">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive"
																			alt="웹 개발자가 알아야 할 2021년 최신 트랜드"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb305ff24aaef5afae6249325047d19508.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">웹 개발자가 알아야 할 2021년 최신 트랜드</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.03.26 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=44">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="현대차 PM 이야기"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb394ac7fb2cbea80e738e96a887ef309d.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">현대차 PM 이야기</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.03.17 이지업</div>
																		</div>
																	</div>

																</div>
															</div>

														</div>
													</div>
												</div>
												<div class="item">
													<div class="carousel-content">
														<div class="row clearfix">

															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=43">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive"
																			alt="프로그래밍언어 슬로건(feat.Python/Java)"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb583e9a027f5a022ca3f04464596a7745.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">프로그래밍언어 슬로건(feat.Python/Java)
																			</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.02.22 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=39">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive"
																			alt="[paper review] MG VTON #2"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb7ccbb385077986e60af537c6d396122d.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">[paper review] MG VTON #2</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.02.16 김 서준</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=38">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive" alt="해킹공부의 효율을 높여주는 SITE"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb8d1317b47549d8b15bc4a2b94f043a43.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">해킹공부의 효율을 높여주는 SITE</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.02.04 이지업</div>
																		</div>
																	</div>

																</div>
															</div>


															<div class="col-xs-12 col-sm-6 col-md-3">
																<div class="items items-hotcourse blog">

																	<div class="image">
																		<a
																			href="https://www.easyupclass.com/main/techBlog/view.php?id=37">
																			<img
																			src="https://www.easyupclass.com/main/img/blank_type_long.png"
																			class="img-responsive"
																			alt="[paper review] MG VTON #1"
																			style="background: url(https://www.easyupclass.com/app/upload/techblog/thumb9608eb69743c437cb62cd0afb473f4d3.png) no-repeat; background-size: cover">
																		</a>
																	</div>
																	<div class="description">
																		<div class="block-title">
																			<h5 class="title">[paper review] MG VTON #1</h5>
																		</div>
																		<div class="block-info align-right ">
																			<div class="info-type-blog">2021.02.02 김 서준</div>
																		</div>
																	</div>

																</div>
															</div>

														</div>
													</div>
												</div>

											</div>

											<a class="left carousel-control" href=".easychannel_slide"
												role="button" data-slide="prev"> <img
												src="https://www.easyupclass.com/main/img/slide_left.png">
												<span class="sr-only">Previous</span>
											</a> <a class="right carousel-control" href=".easychannel_slide"
												role="button" data-slide="next"> <img
												src="https://www.easyupclass.com/main/img/slide_right.png">
												<span class="sr-only">Next</span>
											</a>

										</div>
									</div>
								</section>

							</div>
						연습 -->

						</div>
					</div>
					<hr>
					<!-- input box -->
					<div class="row">
						<div class="col-sm-6">
							<h6>배송 정보</h6>
							<form id="jumunform" class="form-default" method="post"
								novalidate="novalidate">
								<div class="form-group" th:each="address:${address}">
									<input type="text" name="address_Zcode" class="form-control" id="address_Zcode" th:value="${address.address_Zcode}">
								</div>
								<div class="form-group" th:each="address:${address}">
									<input type="text" name="address_streetOrlot"
										class="form-control" id="address_streetOrlot" th:value="${address.address_streetOrlot}">
								</div>
								<div class="form-group" th:each="address:${address}">
									<input type="text" name="address_info" class="form-control" id="address_info" th:value="address_info">
								</div>
								<h6>배송 메세지</h6>
								<div class="form-group">
									<textarea name="j_desc" class="form-control" rows="7"
										placeholder=" Your Message " id="j_desc"></textarea>
								</div>
								<input type="button" class="btn" id="jumun-bt" value="Pay">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="header" th:insert="page_footer"></div>
	<!-- modal (AddToCartProduct) -->
	<div class="modal  fade" id="modalAddToCartProduct" tabindex="-1"
		role="dialog" aria-label="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="icon icon-clear"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="tt-modal-addtocart mobile">
						<div class="tt-modal-messages">
							<i class="icon-f-68"></i> Added to cart successfully!
						</div>
						<a href="#" class="btn-link btn-close-popup">CONTINUE SHOPPING</a>
						<a href="shopping_cart_02.html" class="btn-link">VIEW CART</a> <a
							href="page404.html" class="btn-link">PROCEED TO CHECKOUT</a>
					</div>
					<div class="tt-modal-addtocart desctope">
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="tt-modal-messages">
									<i class="icon-f-68"></i> Added to cart successfully!
								</div>
								<div class="tt-modal-product">
									<div class="tt-img">
										<img src="images/loader.svg"
											data-src="images/product/product-01.jpg" alt="">
									</div>
									<h2 class="tt-title">
										<a href="product.html">Flared Shift Dress</a>
									</h2>
									<div class="tt-qty">
										QTY: <span>1</span>
									</div>
								</div>
								<div class="tt-product-total">
									<div class="tt-total">
										TOTAL: <span class="tt-price">$324</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<a href="#" class="tt-cart-total"> There are 1 items in your
									cart
									<div class="tt-total">
										TOTAL: <span class="tt-price">$324</span>
									</div>
								</a> <a href="#" class="btn btn-border btn-close-popup">CONTINUE
									SHOPPING</a> <a href="shopping_cart_02.html" class="btn btn-border">VIEW
									CART</a> <a href="#" class="btn">PROCEED TO CHECKOUT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal (quickViewModal) -->
	<div class="modal  fade" id="ModalquickView" tabindex="-1"
		role="dialog" aria-label="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="icon icon-clear"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="tt-modal-quickview desctope">
						<div class="row">
							<div class="col-12 col-md-5 col-lg-6">
								<div class="tt-mobile-product-slider arrow-location-center">
									<div>
										<img src="#" data-lazy="images/product/product-01.jpg" alt="">
									</div>
									<div>
										<img src="#" data-lazy="images/product/product-01-02.jpg"
											alt="">
									</div>
									<div>
										<img src="#" data-lazy="images/product/product-01-03.jpg"
											alt="">
									</div>
									<div>
										<img src="#" data-lazy="images/product/product-01-04.jpg"
											alt="">
									</div>
								</div>
							</div>
							<div class="col-12 col-md-7 col-lg-6">
								<div class="tt-product-single-info">
									<div class="tt-add-info">
										<ul>
											<li><span>SKU:</span> 001</li>
											<li><span>Availability:</span> 40 in Stock</li>
										</ul>
									</div>
									<h2 class="tt-title">Cotton Blend Fleece Hoodie</h2>
									<div class="tt-price">
										<span class="new-price">$29</span> <span class="old-price"></span>
									</div>
									<div class="tt-review">
										<div class="tt-rating">
											<i class="icon-star"></i> <i class="icon-star"></i> <i
												class="icon-star"></i> <i class="icon-star-half"></i> <i
												class="icon-star-empty"></i>
										</div>
										<a href="#">(1 Customer Review)</a>
									</div>
									<div class="tt-wrapper">Lorem ipsum dolor sit amet conse
										ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
									<div class="tt-swatches-container">
										<div class="tt-wrapper">
											<div class="tt-title-options">SIZE</div>
											<form class="form-default">
												<div class="form-group">
													<select class="form-control">
														<option>21</option>
														<option>25</option>
														<option>36</option>
													</select>
												</div>
											</form>
										</div>
										<div class="tt-wrapper">
											<div class="tt-title-options">COLOR</div>
											<form class="form-default">
												<div class="form-group">
													<select class="form-control">
														<option>Red</option>
														<option>Green</option>
														<option>Brown</option>
													</select>
												</div>
											</form>
										</div>
										<div class="tt-wrapper">
											<div class="tt-title-options">TEXTURE:</div>
											<ul class="tt-options-swatch options-large">
												<li><a class="options-color" href="#"> <span
														class="swatch-img"> <img src="images/loader.svg"
															data-src="images/custom/texture-img-01.jpg" alt="">
													</span> <span class="swatch-label color-black"></span>
												</a></li>
												<li class="active"><a class="options-color" href="#">
														<span class="swatch-img"> <img
															src="images/loader.svg"
															data-src="images/custom/texture-img-02.jpg" alt="">
													</span> <span class="swatch-label color-black"></span>
												</a></li>
												<li><a class="options-color" href="#"> <span
														class="swatch-img"> <img src="images/loader.svg"
															data-src="images/custom/texture-img-03.jpg" alt="">
													</span> <span class="swatch-label color-black"></span>
												</a></li>
												<li><a class="options-color" href="#"> <span
														class="swatch-img"> <img src="images/loader.svg"
															data-src="images/custom/texture-img-04.jpg" alt="">
													</span> <span class="swatch-label color-black"></span>
												</a></li>
												<li><a class="options-color" href="#"> <span
														class="swatch-img"> <img src="images/loader.svg"
															data-src="images/custom/texture-img-05.jpg" alt="">
													</span> <span class="swatch-label color-black"></span>
												</a></li>
											</ul>
										</div>
									</div>
									<div class="tt-wrapper">
										<div class="tt-row-custom-01">
											<div class="col-item">
												<div class="tt-input-counter style-01">
													<span class="minus-btn"></span> <input type="text"
														value="1" size="5"> <span class="plus-btn"></span>
												</div>
											</div>
											<div class="col-item">
												<a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD
													TO CART</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- modalVideoProduct -->
	<div class="modal fade" id="modalVideoProduct" tabindex="-1"
		role="dialog" aria-label="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-video">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="icon icon-clear"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="modal-video-content"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal (ModalSubsribeGood) -->
	<div class="modal  fade" id="ModalSubsribeGood" tabindex="-1"
		role="dialog" aria-label="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xs">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="icon icon-clear"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="tt-modal-subsribe-good">
						<i class="icon-f-68"></i> You have successfully signed!
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="external/jquery/jquery.min.js"><\/script>')
	</script>
	<script defer src="js/bundle.js"></script>
	<script type="text/javascript">
		$("#jumun-bt").click(function() {
			var payment_card_child = window.open('payment_page','Remote', 'left=450, top=0, width=850,height=650');
			
			var payment_card_child_func = window.setInterval(function() {
		        try {
		            // 창이 꺼졌는지 판단
		            if( payment_card_child == null || payment_card_child.closed) {
		                window.clearInterval(payment_card_child_func);
		                payment_card_child = null;
		                console.log($("#jumun_state").val());
		    			if($("#jumun_state").val()==1){
		    				$("#jumunform").attr("action", "jumun_action");
		    				$("#jumunform").submit();
		    			}
		            }
		        } catch (e) { }
		    }, 500);
		});		
	</script>
	<a href="#" class="tt-back-to-top" id="js-back-to-top">BACK TO TOP</a>
</body>
</html>