<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avengers.user.mapper.CommentsMapper">


<!-- 댓글 한개 출력 -->
<select id="findCommentsByNo" resultType="com.avengers.user.dto.Comments" parameterType="int">
	select comments_no, comments_date, comments_content, comments_star, comments_group_no, comments_step, comments_depth, user_no,userproduct_no, product_no, board_no from comments where comments_no=#{comments_no}
</select>

<!-- 유저한명의 댓글 전체 출력 -->
<select id="findCommentsByUserNo" parameterType="int" resultType="com.avengers.user.dto.Comments">
	select comments_no, comments_date, comments_content, comments_star, comments_group_no, comments_step, comments_depth,  user_no,userproduct_no, product_no, board_no from comments where user_no=#{user_no}
</select>

<!-- 댓글 전체 출력 -->
<select id="findCommentsAll" resultType="com.avengers.user.dto.Comments">
	select comments_no, comments_date, comments_content, comments_star, comments_group_no, comments_step, comments_depth, user_no, userproduct_no, product_no, board_no from comments
</select>

<!-- 댓글 한개 입력 -->
<insert id="insertComments" parameterType="com.avengers.user.dto.Comments">
	insert  INTO Comments (comments_no, comments_content, comments_star, comments_group_no, comments_step, comments_depth, user_no, userproduct_no, product_no, board_no) 
	VALUES (COMMENTS_COMMENTS_NO_SEQ.nextval,#{comments_content},#{comments_star},COMMENTS_COMMENTS_NO_SEQ.currval,#{comments_step},#{comments_depth},#{user_no}, #{userproduct_no}, #{product_no}, #{board_no})
</insert>

<!-- 댓글에 댓글 한개 입력 -->
<insert id="insertCommentsChild" parameterType="com.avengers.user.dto.Comments">
	insert  INTO Comments (comments_no, comments_content, comments_star, comments_group_no, comments_step, comments_depth, user_no, userproduct_no, product_no, board_no) 
	VALUES (COMMENTS_COMMENTS_NO_SEQ.nextval, #{comments_content},#{comments_star},#{comments_group_no},#{comments_step},#{comments_depth},#{user_no},#{userproduct_no},#{product_no},#{board_no})
</insert>

<!-- 댓글 한개 수정 -->
<update id="updateCommentsByNo" parameterType="com.avengers.user.dto.Comments" >
	update comments set comments_content=#{comments_content},comments_star=#{comments_star},comments_group_no=#{comments_group_no},comments_step=#{comments_step},
	comments_depth=#{comments_depth},user_no=#{user_no},userproduct_no=#{userproduct_no},product_no=#{product_no},board_no=#{board_no} 
	where comments_no=#{comments_no}
</update>

<!-- 댓글 한개 CommentsNo로 삭제 -->
<delete id="deleteCommentsByNo" parameterType="int">
	delete from comments where comments_no=#{comments_no}
</delete>


</mapper>